In [127]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Reshape, GlobalAveragePooling1D
from keras.layers import Conv2D, MaxPooling2D, Conv1D, MaxPooling1D
from keras.utils import np_utils

In [128]:
iris = load_iris()

iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [129]:
iris_data = iris.data

iris_label = iris.target

In [130]:
df_iris = pd.DataFrame(iris_data, columns = iris.feature_names)

df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [131]:
X = df_iris.iloc[:, :-1]
y = df_iris.iloc[:, [-1]]

In [132]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)
0                  5.1               3.5                1.4
1                  4.9               3.0                1.4
2                  4.7               3.2                1.3
3                  4.6               3.1                1.5
4                  5.0               3.6                1.4
..                 ...               ...                ...
145                6.7               3.0                5.2
146                6.3               2.5                5.0
147                6.5               3.0                5.2
148                6.2               3.4                5.4
149                5.9               3.0                5.1

[150 rows x 3 columns]

In [133]:
y

     petal width (cm)
0                 0.2
1                 0.2
2                 0.2
3                 0.2
4                 0.2
..                ...
145               2.3
146               1.9
147               2.0
148               2.3
149               1.8

[150 rows x 1 columns]

In [134]:
X = iris.data
y = iris.target

In [135]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [136]:
print("X_train.shape:", X_train.shape)

print("y_train.shape:", y_train.shape)

print("X_test.shape:", X_test.shape)

print("y_test.shape:", y_test.shape)

X_train.shape: (120, 4)
y_train.shape: (120,)
X_test.shape: (30, 4)
y_test.shape: (30,)

In [137]:
Y = pd.get_dummies(y).values

In [138]:
X_train = np.expand_dims(X_train, axis=2)
X_test = np.expand_dims(X_test, axis=2)

In [139]:
model_m = Sequential()

model_m.add(Reshape((4, 1), input_shape=(X_train.shape[1], 1)))

model_m.add(Conv1D(4, 1, activation='relu'))

model_m.add(Conv1D(4, 1, activation='relu'))

model_m.add(MaxPooling1D(3))

model_m.add(Conv1D(4, 1, activation='relu'))

model_m.add(Conv1D(4, 1, activation='relu'))

model_m.add(GlobalAveragePooling1D())

model_m.add(Dropout(0.5))

model_m.add(Dense(3, activation='softmax'))

print(model_m.summary())

Model: "sequential_28"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 reshape_17 (Reshape)        (None, 4, 1)              0

 conv1d_36 (Conv1D)          (None, 4, 4)              8

 conv1d_37 (Conv1D)          (None, 4, 4)              20

 max_pooling1d_11 (MaxPoolin  (None, 1, 4)             0
 g1D)

 conv1d_38 (Conv1D)          (None, 1, 4)              20

 conv1d_39 (Conv1D)          (None, 1, 4)              20

 global_average_pooling1d_5   (None, 4)                0
 (GlobalAveragePooling1D)

 dropout_5 (Dropout)         (None, 4)                 0

 dense_15 (Dense)            (None, 3)                 15

=================================================================
Total params: 83
Trainable params: 83
Non-trainable params: 0
_________________________________________________________________
None

In [140]:
loss, accuracy = model.evaluate(X_test, y_test)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

1/1 [==============================] - 0s 31ms/step - loss: 0.3266 - accuracy: 0.8667
Test Loss: 0.32655420899391174
Test Accuracy: 0.8666666746139526